
.container{
    padding-top: 40px;
}
.main_col{
    border-radius: 20px;
    padding: 28px;
    text-align: center;
    border: 1px solid lightblue;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.mini_button{
    padding: 7px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

*{
    font-family: 'Oswald';
}
/* .background{
    background-image: url("../../assets/images/html-color-codes-color-tutorials-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
} */
label {
    font-size: 20px;
    margin-top: 9px;
}
input[type=text] {
    width: 72%;
    padding: 11px 20px;
    margin: 8px 0;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
  input[type=Password] {
    width: 72%;
    padding: 11px 20px;
    margin: 8px 0;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
.login_icon{
    margin-bottom: 10px;
}
.submit_btn{
    border-radius: 26px;
    width: 139px;
    padding: 13px;
}

.alert-danger{
    width: 66%;
    margin-bottom: 8px;
}
