<div class="">
    <div class="container" >
        <div class="row" style="padding-top:10px ;">
            <div class="col-md-6 m-auto main_col " style="text-align: center;">
                <div class="row justify-content-around mb-2">
                    <div class="col-md-4"><button class="btn btn-success mini_button" routerLink="login">Sign In</button></div>
                    <div class="col-md-4"><button class="btn btn-primary mini_button" routerLink="sign-up">Sign Up</button></div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

