<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-3 py-5 bg-light" (click)="seeTable(1)"
            style="border: 2px solid lightblue; text-align: center;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <h2>
                Simple Table
            </h2>
        </div>

        <div class="col-md-3 py-5 bg-light" (click)="seeTable(2)"
            style="border: 2px solid lightblue; text-align: center;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <h2>
                Employee Details
            </h2>
        </div>

        <div class="col-md-3 py-5 bg-light" (click)="seeTable(3)"
            style="border: 2px solid lightblue; text-align: center;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <h2>
                Fetching Data from Json server
            </h2>
        </div>
    </div>
</div>
<app-simpletable *ngIf="see==1"></app-simpletable>
<app-json-fetch-table *ngIf="see==2" [item]="currentItem"></app-json-fetch-table>
<app-json-fetch-table *ngIf="see==3" [item]="currentItem"></app-json-fetch-table>